<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<script> 
    $(function(){
      $("#header").load("header.html", function() {
        document.getElementById("home").style = "border-bottom: 3px solid #0070AD;";
      }); 
    });
  </script>

<div id="header">
</div>
  <h3>Hi <%=name%></h3>
<div class="flex-container-top" >
	  <div class="flex-item-20-blue">
		  <a style="text-decoration: none; color: white;" href="/PastEvents"><h1>Past Events</h1></a>
    </div>
  <div class="flex-item-40-black">
    <h1><i>We Ignite Change</i></h1>
  </div>
  <div class="flex-item-20-blue2">
  	<a style="text-decoration: none; color: white;" href="/CurrentEvent"><h1>Current Events</h1></a>
  </div>
  <div class="flex-item-20-black">
  </div>
</div>

<div class="flex-container-bottom" >
	<div class="flex-item-20-blue2">
		<a style="text-decoration: none; color: white;" href="/UpcomingEvents"><h1>Upcoming Events</h1></a>
  	</div>
  	<div class="flex-item-20-blue">
  		<a style="text-decoration: none; color: white;" href="/Profile"><h1>Profile</h1></a>
  	</div>
  	<div class="flex-item-20-black">
  	</div>
  	<div class="flex-item-40-blue">
  	</div>

</div>
</body>
</html>
