<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<script> 
    $(function(){
      $("#header").load("header.html", function() {
        document.getElementById("home").class = "active";
      }); 
    });
  </script>

<div id="header"></div>



<div class="flex-container-top" >
	<div class="flex-item-20-blue">
		<h1>Past Events</h1>
  	</div>
  	<div class="flex-item-40-black">
  	</div>
  	<div class="flex-item-20-blue2">
  		<h1>Current Events</h1>
  	</div>
  	<div class="flex-item-20-black">
  	</div>
</div>

<div class="flex-container-bottom" >
	<div class="flex-item-20-blue2">
		<h1>Upcoming Events</h1>
  	</div>
  	<div class="flex-item-20-blue">
  		<h1>Profile</h1>
  	</div>
  	<div class="flex-item-20-black">
  	</div>
  	<div class="flex-item-40-blue">
  	</div>

</div>
</body>
</html>
