<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body>
  <img class="center" style="width: 8%;" src="ASE_UK_logo_v1.0.png"></li>
<form method="post" action="">
    <input type="text" name="user[username]">
    <input type="text" name="user[password]">

    <input type="submit" value="Submit">
</form>
</body>
</html>
