<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body class="background">
<ul class="topnav">
  <li><a class="active">Please Login</a></li>
</ul>

<div class="flex-container-login">
<form method="post" action="">
	<label for="user">Username</label>
	    <br>
    <input type="text" id="user" name="user">
    <br>
        <br>
    	<label for="pass">Password</label>
    	    <br>
    <input type="text" id="pass" name="pass">
    <% if (locals.login_errors) { 
        login_errors.forEach(function(error_msg){ %>
    	<div class="alert alert-danger" role="alert"><p><%= error_msg %></p></div>
        <% });
    } %>
    <br>
    <br>
    <input class="login" type="submit" value="Submit">
</form>
</div>
</body>
</html>
