<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<script> 
    $(function(){
      $("#header").load("header.html", function() {
        document.getElementById("profile").style = "border-bottom: 3px solid #0070AD;";
      }); 
    });
  </script>

<div style="padding:0 16px;">
</div>

</body>
</html>
